<div data-ng-mouseenter="pause()" data-ng-mouseleave="play()" class="carousel" data-ng-swipe-right="prev()" data-ng-swipe-left="next()">
    <ol class="carousel-indicators" data-ng-show="slides.length > 1">
        <li data-ng-repeat="slide in slides track by $index" data-ng-class="{active: isActive(slide)}" data-ng-click="select(slide)"></li>
    </ol>
    <div class="carousel-inner" data-ng-transclude></div>
    <a class="left carousel-control" data-ng-click="prev()" data-ng-show="slides.length > 1"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" data-ng-click="next()" data-ng-show="slides.length > 1"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
