<span data-ng-mouseleave="reset()" data-ng-keydown="onKeydown($event)" tabindex="0" data-role="slider" aria-valuemin="0" aria-valuemax="{{range.length}}" aria-valuenow="{{value}}">
    <i data-ng-repeat="r in range track by $index" data-ng-mouseenter="enter($index + 1)" data-ng-click="rate($index + 1)" class="glyphicon" data-ng-class="$index < value && (r.stateOn || 'glyphicon-star') || (r.stateOff || 'glyphicon-star-empty')">
        <span class="sr-only">({{ $index < value ? '*' : ' ' }})</span>
    </i>
</span>