<ul class="dropdown-menu" data-ng-style="{display: (isOpen && 'block') || 'none', top: position.top+'px', left: position.left+'px'}" data-ng-keydown="keydown($event)">
	<li data-ng-transclude></li>
	<li data-ng-if="showButtonBar" style="padding:10px 9px 2px">
		<span class="btn-group pull-left">
			<button type="button" class="btn btn-sm btn-info" data-ng-click="select('today')">{{ getText('current') }}</button>
			<button type="button" class="btn btn-sm btn-danger" data-ng-click="select(null)">{{ getText('clear') }}</button>
		</span>
		<button type="button" class="btn btn-sm btn-success pull-right" data-ng-click="close()">{{ getText('close') }}</button>
	</li>
</ul>
