<ul class="pagination">
  <li data-ng-if="boundaryLinks" data-ng-class="{disabled: noPrevious()}"><a href data-ng-click="selectPage(1)">{{getText('first')}}</a></li>
  <li data-ng-if="directionLinks" data-ng-class="{disabled: noPrevious()}"><a href data-ng-click="selectPage(page - 1)">{{getText('previous')}}</a></li>
  <li data-ng-repeat="page in pages track by $index" data-ng-class="{active: page.active}"><a href data-ng-click="selectPage(page.number)">{{page.text}}</a></li>
  <li data-ng-if="directionLinks" data-ng-class="{disabled: noNext()}"><a href data-ng-click="selectPage(page + 1)">{{getText('next')}}</a></li>
  <li data-ng-if="boundaryLinks" data-ng-class="{disabled: noNext()}"><a href data-ng-click="selectPage(totalPages)">{{getText('last')}}</a></li>
</ul>